registry=https://devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/registry/ 
                        
always-auth=true
; begin auth token
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/registry/:username=DefaultCollection
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/registry/:_password=[N2p5dm52a2FjYmNla3B4cGQ0YmdiNmFha3hlaDJyNjV4bWR1bzY2ZTR6bzViNjR3anlocQ==]
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/registry/:email=npm requires email to be set but doesn't use the value
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/:username=DefaultCollection
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/:_password=[N2p5dm52a2FjYmNla3B4cGQ0YmdiNmFha3hlaDJyNjV4bWR1bzY2ZTR6bzViNjR3anlocQ==]
//devops.unitedtractors.com/DefaultCollection/_packaging/dad-registry/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
